wheel
argh==0.26.2
colorlog==4.0.2
httpwatcher==0.5.2
Jinja2==2.11.3
lipsum==0.1.2
Markdown==3.1.1
MarkupSafe==1.1.1
mock==3.0.5
mlalchemy==0.2.2
pathtools==0.1.2
psycopg2-binary==2.8.3
pystache==0.5.4
python-dateutil==2.8.0
python-slugify==3.0.4
PyYAML>=5.1.2
SQLAlchemy==1.3.9
Unidecode==1.1.1
watchdog==0.9.0
paramiko==2.6.0
requests
