{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <h1>Home page</h1>
    <div class="site-summary">
        {{ site_summary }}
    </div>
    <ul>
        {% for post in posts %}
            <li><a href="{% url "posts", post %}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    <div class="all-authors">
        See work by all authors:
        <ul>
            {% for author in all_authors %}
                <li>{{ author.first_name }} {{ author.last_name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
